# íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°

In [2]:
import pandas as pd

ratings = pd.read_csv(
    'ratings.dat',
    sep='::',
    engine='python',
    names=['user_id', 'movie_id', 'rating', 'timestamp']
)

users = pd.read_csv(
    'users.dat',
    sep='::',
    engine='python',
    names=['user_id', 'gender', 'age', 'occupation', 'zip_code']
)

movies = pd.read_csv(
    'movies.dat',
    sep='::',
    engine='python',
    encoding='latin-1',  # âœ… ì´ ì¤„ë§Œ ì¶”ê°€í•˜ë©´ í•´ê²°ë¨
    names=['movie_id', 'title', 'genres']
)

# ë¶ˆëŸ¬ì˜¨ íŒŒì¼ ì²´í¬

In [3]:
import os
print(os.listdir())  # í˜„ì¬ í´ë”ì— ìˆëŠ” íŒŒì¼ ëª©ë¡ ë³´ê¸°

['.ipynb_checkpoints', '.venv', 'entertainment.m3u', 'index.category.m3u', 'index.m3u', 'iptv_channels_categories.csv', 'm3u_csv_chang.py', 'movies.dat', 'ratings.dat', 'README', 'requirements.txt', 'streamlit_app.py', 'streamlit_app_02.py', 'test.ipynb', 'users.dat', 'ì—°ë ¹ëŒ€ë³„_ì¥ë¥´_ì„ í˜¸_ë°_í‰ì .csv', 'ì—°ë ¹ëŒ€ë³„_ì¥ë¥´_ì„ í˜¸_ë°_í‰ì _í•œê¸€.csv', 'ì—°ë ¹ëŒ€ë³„_ì¥ë¥´_ì±„ë„_ë§¤í•‘.csv', 'ì¥ë¥´_ê¸°ë°˜_IPTV_ì¶”ì²œ_ë°ì´í„°.csv']

In [4]:
print("ğŸ¬ ratings:\n", ratings.head())
print("\nğŸ‘¤ users:\n", users.head())
print("\nğŸï¸ movies:\n", movies.head())

ğŸ¬ ratings:
    user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

ğŸ‘¤ users:
    user_id gender  age  occupation zip_code
0        1      F    1          10    48067
1        2      M   56          16    70072
2        3      M   25          15    55117
3        4      M   45           7    02460
4        5      M   25          20    55455

ğŸï¸ movies:
    movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

# íŒŒì¼ í•©ì¹˜ê¸°

In [5]:
df = pd.merge(ratings, users, on='user_id')

In [6]:
df = pd.merge(df, movies, on='movie_id')

In [7]:
print(df.head())

   user_id  movie_id  rating  timestamp gender  age  occupation zip_code  \
0        1      1193       5  978300760      F    1          10    48067
1        1       661       3  978302109      F    1          10    48067
2        1       914       3  978301968      F    1          10    48067
3        1      3408       4  978300275      F    1          10    48067
4        1      2355       5  978824291      F    1          10    48067

                                    title                        genres
0  One Flew Over the Cuckoo's Nest (1975)                         Drama
1        James and the Giant Peach (1996)  Animation|Children's|Musical
2                     My Fair Lady (1964)               Musical|Romance
3                  Erin Brockovich (2000)                         Drama
4                    Bug's Life, A (1998)   Animation|Children's|Comedy

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
summary = df.groupby(['user_id', 'movie_id'])['rating'].agg(['mean', 'count']).reset_index()

# ì—°ë ¹ëŒ€ ë³„ë¡œ ë¶„ë¥˜

In [10]:
age_map = {
    1: 'Under 18',
    18: '18-24',
    25: '25-34',
    35: '35-44',
    45: '45-49',
    50: '50-55',
    56: '56+'
}

df['age_group'] = df['age'].map(age_map)

In [11]:
genre_by_age = df.groupby('age_group')['genres'].value_counts().unstack().fillna(0)

In [12]:
avg_rating_by_age = df.groupby('age_group')['rating'].mean().sort_index()
print(avg_rating_by_age)

age_group
18-24       3.507573
25-34       3.545235
35-44       3.618162
45-49       3.638062
50-55       3.714512
56+         3.766632
Under 18    3.549520
Name: rating, dtype: float64

In [13]:
senior_df = df[df['age'] >= 50]

In [14]:
df.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip_code,title,genres,age_group
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama,Under 18
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),Animation|Children's|Musical,Under 18
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),Musical|Romance,Under 18
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),Drama,Under 18
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)",Animation|Children's|Comedy,Under 18

# csvíŒŒì¼ë¡œ ë‚´ë³´ë‚´ê¸°

In [15]:
import pandas as pd

# âœ”ï¸ ì—°ë ¹ëŒ€ ë§¤í•‘
age_map = {
    1: '18ì„¸ ë¯¸ë§Œ',
    18: '18-24ì„¸',
    25: '25-34ì„¸',
    35: '35-44ì„¸',
    45: '45-49ì„¸',
    50: '50-55ì„¸',
    56: '56ì„¸ ì´ìƒ'
}
df['ì—°ë ¹ëŒ€'] = df['age'].map(age_map)

# âœ”ï¸ ì¥ë¥´ ë¶„í•´
df_exploded = df.copy()
df_exploded['ì¥ë¥´'] = df_exploded['genres'].str.split('|')
df_exploded = df_exploded.explode('ì¥ë¥´')

# âœ”ï¸ í•œê¸€ ì¥ë¥´ ë§¤í•‘
genre_map = {
    'Action': 'ì•¡ì…˜', 'Adventure': 'ëª¨í—˜', 'Animation': 'ì• ë‹ˆë©”ì´ì…˜', "Children's": 'ì•„ë™',
    'Comedy': 'ì½”ë¯¸ë””', 'Crime': 'ë²”ì£„', 'Documentary': 'ë‹¤íë©˜í„°ë¦¬', 'Drama': 'ë“œë¼ë§ˆ',
    'Fantasy': 'íŒíƒ€ì§€', 'Film-Noir': 'ëŠì™€ë¥´', 'Horror': 'ê³µí¬', 'Musical': 'ë®¤ì§€ì»¬',
    'Mystery': 'ë¯¸ìŠ¤í„°ë¦¬', 'Romance': 'ë¡œë§¨ìŠ¤', 'Sci-Fi': 'SF', 'Thriller': 'ìŠ¤ë¦´ëŸ¬',
    'War': 'ì „ìŸ', 'Western': 'ì„œë¶€'
}
df_exploded['ì¥ë¥´'] = df_exploded['ì¥ë¥´'].map(genre_map)
df_exploded = df_exploded.dropna(subset=['ì¥ë¥´'])

# âœ”ï¸ ì—°ë ¹ëŒ€-ì¥ë¥´ë³„ í†µê³„
genre_summary = df_exploded.groupby(['ì—°ë ¹ëŒ€', 'ì¥ë¥´']).agg(
    ì‹œì²­ìˆ˜=('rating', 'count'),
    í‰ê· í‰ì =('rating', 'mean')
).reset_index()

# âœ”ï¸ ì €ì¥
genre_summary.to_csv("ì—°ë ¹ëŒ€ë³„_ì¥ë¥´_ì„ í˜¸_ë°_í‰ì _í•œê¸€.csv", index=False)

# íŒŒì¼ ë³‘í•©

In [21]:
import pandas as pd

# ğŸ“¥ IPTV ì±„ë„ ë°ì´í„° ë¡œë“œ
iptv_df = pd.read_csv("iptv_channels_categories.csv")

# âœ… ì˜ì–´ ì¥ë¥´ â†’ í•œê¸€ ë§¤í•‘ í…Œì´ë¸”
genre_mapping = {
    "Animation": "ì• ë‹ˆë©”ì´ì…˜",
    "Comedy": "ì½”ë¯¸ë””",
    "Documentary": "ë‹¤íë©˜í„°ë¦¬",
    "Kids": "ì•„ë™",
    "Music": "ë®¤ì§€ì»¬",
    # âš ï¸ ì•„ë˜ ì¥ë¥´ë“¤ì€ ê¸°ì¡´ ì˜í™” ë°ì´í„°ì— ì—†ìœ¼ë¯€ë¡œ ì œì™¸
    "News": None, "Sports": None, "Entertainment": None, "Series": None,
    "Movies": None, "General": None, "Lifestyle": None, "Undefined": None
}

# âœ… ì¥ë¥´ ì»¬ëŸ¼ ë§¤í•‘
iptv_df["ì¥ë¥´"] = iptv_df["category"].map(genre_mapping)

# âœ… í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì •ë¦¬
iptv_df = iptv_df[["channel_name", "ì¥ë¥´"]].dropna()

# ğŸ’¾ ì €ì¥ (í•„ìš”í•˜ë©´ ì¶”ê°€ ì»¬ëŸ¼ë„ í¬í•¨ ê°€ëŠ¥)
iptv_df.to_csv("iptv_channels_categories_í•œê¸€ë§¤í•‘.csv", index=False)

In [20]:
print(iptv_df.columns)

Index(['channel_name', 'category'], dtype='object')